<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="testSection" type="Grain.Tests.Configuration.TestSection, Grain.Tests" />
  </configSections>
  <appSettings>
    <add key="Grain.PluralizationOverrides" value="{&quot;Status&quot;:&quot;Statuses&quot;,&quot;Quiz&quot;:&quot;Quizzes&quot;}"/>
    <add key="mockStringSetting" value="HelloWorld!"/>
    <add key="mockIntSetting" value="42"/>
    <add key="mockBoolSetting" value="true"/>
    <add key="mockDateTimeSetting" value="2013-04-02 11:42:36"/>
  </appSettings>
  <connectionStrings>
    <add name="UnitTests" connectionString="Data Source=.;Initial Catalog=UnitTests;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <testSection testValue="helloWorld"></testSection>
</configuration>
